@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.background {
   color: E1E1E1;
}

body{
   background: #E1E1E1;
   display: flex;
   flex-direction: row;
}

.container{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 50%;
   margin: 40px;
   align-items: center;
   z-index: 0;
}

.keyboard_layout {
   position: relative;
   width: 100%;
   height: fit-content;
   margin-top: 40px;
}

.keyboard_frame {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20px;
   flex-wrap: wrap;
}


.small_text_box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px 10px;
   gap: 5px;

   position: relative;
   width: 40px;
   height: 40px;

   background: #f4f4f4;
   border-radius: 10px;
}

.small_text_box_correct{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px 10px;
   gap: 5px;

   position: relative;
   width: 40px;
   height: 40px;

   background: #356859;
   border-radius: 10px;
}

.small_text_box_right_letter_wrong_place{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px 10px;
   gap: 5px;

   position: relative;
   width: 40px;
   height: 40px;

   background: #FFDE03;
   border-radius: 10px;
}

.small_text_box_incorrect{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px 10px;
   gap: 5px;

   position: relative;
   width: 40px;
   height: 40px;

   background: #808080;
   border-radius: 10px;
}

.inside_small_text_box {
   flex: none;
   order: 0;
   flex-grow: 0;
}

.small_text_letter {
   width: 16px;
   height: 27px;

   font-family: 'Nunito';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 27px;
   display: flex;
   align-items: center;

   color: #2b2b2b;
}

.guess_input{

   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px 0px 0px 16px;
   gap: 16px;
   width: 280px;
   height: 48px;
   margin-bottom: 20px;

   background: #f4f4f4;
   border: 2px solid #356859;
   border-radius: 4px;

   font-family: 'Nunito';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 22px;
   color: #2b2b2b;
}

.form_action{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
}

.button_active {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 0px 16px;
   gap: 10px;
   margin-bottom: 20px;

   width: 78px;
   height: 36px;
   background: #356859;
   border-radius: 8px;
}

.button_active_text {
   width: 46px;
   height: 19px;

   font-family: 'Nunito';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 19px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #f4f4f4;
}

.guess_box_group {
   display: flex;
   flex-direction: row;
   position:relative;
   width: 555px;
   height: 60px;
   margin-bottom: 20px;
}

.guess_box{
   box-sizing: border-box;
   height: 60px;
   width: 60px;

   position: relative;
   border: 5px solid #f4f4f4;
   border-radius: 15px;
}

.wrong_space_letter {
   position: relative;
   width: 60px;
   height: 60px;
   display: flex;
   flex-direction: column;
   background:#808080;
   border-radius: 15px;
   margin: 20px;
}


.wrong_space_letter_text{
   position: relative;


   font-family: 'Nunito';
   font-style: normal;
   font-weight: 500;
   font-size: 35px;
   line-height: 65px;
   text-transform: capitalize;

   align-items: center;
   text-align: center;

   color: #f4f4f4;
}

.right_space_letter {
   position: relative;
   width: 60px;
   height: 60px;
   display: flex;
   flex-direction: column;
   background:#356859;
   border-radius: 15px;
   margin: 20px;
}

.right_space_letter_text{
   position: relative;


   font-family: 'Nunito';
   font-style: normal;
   font-weight: 500;
   font-size: 35px;
   line-height: 65px;
   text-transform: capitalize;

   align-items: center;
   text-align: center;

   color: #f4f4f4;
}

.right_letter_wrong_space {
   position: relative;
   width: 60px;
   height: 60px;
   display: flex;
   flex-direction: column;
   background:#FFDE03;
   border-radius: 15px;
   margin: 20px;
}

.right_letter_wrong_space_text {
   position: relative;


   font-family: 'Nunito';
   font-style: normal;
   font-weight: 500;
   font-size: 35px;
   line-height: 65px;
   text-transform: capitalize;

   align-items: center;
   text-align: center;

   color: #2b2b2b;
}



h1 {
   font-family: 'Nunito';
   font-style: italic;
   color: red;
}

.overlay {
   position: fixed;
   display: flex;
   width: 100%;
   height: 100%;
   background-color: rgba(84, 84, 84, 0.65);
   z-index: 2;
   align-items: center;
}

.pop_up_modal{
   z-index: 10;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 560px;
   height: 182px;
   background-color: #f4f4f4;
   border-radius: 8px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding: 0px 16px;
   gap: 10px;
}

.modal_header{
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 800;
   font-size: 21px;
   line-height: 29px;
   display: flex;
   align-items: flex-end;
   color: #B00020;
}

.modal_body{
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: #2b2b2b;
   text-align: center;
}

.error_button{
   height: 36px;
   width: 113px;
   background: #B00020;
   color: #f4f4f4;
   border-radius: 8px;
   padding: 8px;
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 19px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
